.Profile__Main {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  color: var(--font-color-shadow);
  padding-bottom: 200px;
}

.Profile__Welcome {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.Profile__Events {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 200px;
}

.Profile__EventsContent {
  padding: 20px 40px;
}

.Profile__EventSection + .Profile__EventSection {
  margin-top: 40px;
}

.Profile__EventSectionHeader {
  border-radius: 5px;
  border: 1px solid var(--font-color-shadow);
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px 30px;
}